// .contactDetails-main-con {
//   position: relative;
//   display: flex;
// }

label {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
}

input {
  //   border: 1px solid red;
  border: none;
  outline: none;
}

span {
  color: red($color: #000000);
}

.contactDetails {
  position: absolute;
  //   border: 1px solid red;
  width: 688px;
  //   height: 365px;
  left: 624px;
  top: 316px;
  .contactDetails-inputs {
    width: 688px;
    height: 176px;
    // border: 1px solid red;
    margin-bottom: 48px;
    .contactDetails-inputs-num-email {
      display: flex;
      gap: 20px;
      margin-bottom: 24px;
    }
    .contactDetails-inputs-num2-cont {
      display: flex;
      gap: 20px;
    }
  }
  .contactDetails-buttons {
    // border: 1px solid blue;
    width: 688px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    .contactDetails-back-btn {
      cursor: pointer;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      gap: 8px;
      width: 91px;
      height: 48px;
      background: #ebf1ff;
      border-radius: 1000px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #4a5fe5;
    }
    .contactDetails-continue-btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      gap: 8px;
      width: 334px;
      height: 48px;
      background: #2e43c9;
      border-radius: 1000px;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
}

.contactDetails-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 334px;
  height: 48px;
  // background: #fafbff;
  border: 1px solid #ebf1ff;
  border-radius: 12px;
  margin-top: 4px;
}

.contactDetails-contact-type {
  position: relative;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 334px;
  height: 76px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
  .css-b62m3t-container,
  .css-13cymwt-control,
  .css-t3ipsp-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 12px 16px;
    gap: 8px;
    width: 334px;
    height: 48px;
    background: #fafbff;
    border: 1px solid #ebf1ff;
    border-radius: 12px;
    .css-1nmdiq5-menu {
      background: #fafbff;
      border: 1px solid #ebf1ff;
      border-radius: 10px;
      .css-1n6sfyn-MenuList {
        .css-10wo9uf-option,
        .css-d7l1ni-option,
        .css-tr4s17-option {
          padding: 8px;
          padding-left: 64px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #4e4f51;
        }
        :last-child {
          padding-left: 24px;
        }
      }
    }
    .css-1dimb5e-singleValue {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4e4f51;
    }
  }
  .css-1u9des2-indicatorSeparator {
    display: none;
  }
  .css-tj5bde-Svg {
    width: 16px;
    height: 16px;
    color: black;
  }
  .option-icons {
    position: absolute;
    // border: 1px solid red;
    left: 23px;
    top: 96px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

.contactDetails-social-medias {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 334px;
  height: 48px;
  background: #fafbff;
  border: 1px solid #ebf1ff;
  border-radius: 12px;
}

.searchWrapper {
  border: none !important;
}

.hidden {
  display: none;
}
