// .personalDetails-main-con {
//   position: relative;
//   display: flex;
// }

.personalDetails {
  position: absolute;
  // border: 1px solid red;
  width: 688px;
  height: 365px;
  left: 624px;
  top: 295px;
  // margin-top: 295px;
  // margin-left: 624px;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
}

input {
  border: none;
  outline: none;
}

span {
  color: red($color: #000000);
}

.personalDetails-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 688px;
  height: 277px;
  .personalDetails-inputs-name-fin {
    display: flex;
    // border: 1px solid red;
    margin-bottom: 24px;
    gap: 20px;
    .personDetails-name,
    .personalDetails-fin {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 4px;
      width: 334px;
      height: 76px;
    }
  }
  .personalDetails-inputs-surname-fathername {
    // border: 1px solid red;
    .personDetails-surname,
    .personalDetails-fathername {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 4px;
      width: 334px;
      height: 76px;
    }
    .personalDetails-fathername {
      margin-top: 24px;
    }
  }
}

.personalDetails-inputs-bottom {
  display: flex;
  gap: 20px;
  .personalDetails-id-div {
    width: 334px;
    height: 177px;
    // border: 1px solid red;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #4e4f51;
      margin-bottom: 4px;
      span {
        color: red;
      }
    }
  }
  .personalDetails-id-inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    .personalDetails-id-input {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      label {
        cursor: pointer;
        padding: 12px 16px;
        width: 159px;
        height: 149px;
        // background: #fafbff;
        border: 1px dashed #4a5fe5;
        .label {
          margin-top: 36px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            cursor: pointer;
          }
          p {
            cursor: pointer;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #4a5fe5;
            margin-top: 4px;
          }
        }
      }
      input {
        display: none;
      }
    }
  }
}

.personDetails-input {
  //   border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 334px;
  height: 48px;
  // background: #fafbff;
  border: 1px solid #ebf1ff;
  border-radius: 12px;
}

.personalDetails-buttons {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 688px;
  height: 48px;
  margin-top: 40px;
  .personalDetails-skip-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 334px;
    height: 48px;
    border: 1px solid #4a5fe5;
    border-radius: 1000px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4a5fe5;
    background-color: white;
  }
  .personalDetails-continue-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    width: 334px;
    height: 48px;
    background: #2e43c9;
    border-radius: 1000px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    border: none;
  }
}

.personalDetails-fin-input {
  button {
    border: none;
    border: none;
    width: 16px;
    height: 16px;
    background-color: #fafbff;
    margin-top: 0;
    margin-left: 114px;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.fin-popup-personal-d {
  width: 192px;
  height: 269px;
  background: #4e4f51;
  border-radius: 10px;
  margin-top: 82px;
  margin-left: 143px;
  padding: 16px;
  display: block;
  position: absolute;
}

.fin-popup-header-personal-d {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 160px;
  height: 24px;
  margin-bottom: 10px;
}

.fin-popup-icon-personal-d {
  width: 16px;
  height: 16px;
}

.fin-nedir-personal-d {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popup-cancel-personal-d {
  border: none;
  background-color: #4e4f51;
  position: absolute;
  bottom: 230px;
  right: 15px;
  cursor: pointer;
}

.fin-popup-txt-personal-d {
  width: 160px;
  height: 80px;
}

.fin-popup-txt-personal-d p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fafbff;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
