.personalDetails-main-con {
  position: relative;
  display: flex;
}

.personalDetails {
  position: absolute;
  width: 688px;
  height: 365px;
  left: 624px;
  top: 295px;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
}

input {
  border: none;
  outline: none;
}

span {
  color: 0;
}

.personalDetails-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 688px;
  height: 277px;
}
.personalDetails-inputs .personalDetails-inputs-name-fin {
  display: flex;
  margin-bottom: 24px;
  gap: 20px;
}
.personalDetails-inputs .personalDetails-inputs-name-fin .personDetails-name,
.personalDetails-inputs .personalDetails-inputs-name-fin .personalDetails-fin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 334px;
  height: 76px;
}
.personalDetails-inputs .personalDetails-inputs-surname-fathername .personDetails-surname,
.personalDetails-inputs .personalDetails-inputs-surname-fathername .personalDetails-fathername {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 334px;
  height: 76px;
}
.personalDetails-inputs .personalDetails-inputs-surname-fathername .personalDetails-fathername {
  margin-top: 24px;
}

.personalDetails-inputs-bottom {
  display: flex;
  gap: 20px;
}
.personalDetails-inputs-bottom .personalDetails-id-div {
  width: 334px;
  height: 177px;
}
.personalDetails-inputs-bottom .personalDetails-id-div p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
  margin-bottom: 4px;
}
.personalDetails-inputs-bottom .personalDetails-id-div p span {
  color: red;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs .personalDetails-id-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs .personalDetails-id-input label {
  cursor: pointer;
  padding: 12px 16px;
  width: 159px;
  height: 149px;
  background: #fafbff;
  border: 1px dashed #4a5fe5;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs .personalDetails-id-input input {
  display: none;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs .personalDetails-id-input img {
  margin-top: -100px;
  cursor: pointer;
}
.personalDetails-inputs-bottom .personalDetails-id-inputs .personalDetails-id-input p {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4a5fe5;
  margin-top: 4px;
}

.personDetails-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 334px;
  height: 48px;
  background: #fafbff;
  border: 1px solid #ebf1ff;
  border-radius: 12px;
}

.personalDetails-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 688px;
  height: 48px;
  margin-top: 40px;
}
.personalDetails-buttons .personalDetails-skip-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 334px;
  height: 48px;
  border: 1px solid #4a5fe5;
  border-radius: 1000px;
}
.personalDetails-buttons .personalDetails-skip-btn button {
  cursor: pointer;
  border: none;
  width: 144px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #4a5fe5;
  background-color: white;
}
.personalDetails-buttons .personalDetails-continue-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 334px;
  height: 48px;
  background: #2e43c9;
  border-radius: 1000px;
}
.personalDetails-buttons .personalDetails-continue-btn button {
  cursor: pointer;
  border: none;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2e43c9;
}

.personalDetails-fin-input button {
  border: none;
  border: none;
  width: 16px;
  height: 16px;
  background-color: #fafbff;
  margin-top: 0;
  margin-left: 114px;
  cursor: pointer;
}/*# sourceMappingURL=personalDetails.css.map */