* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
}

.left {
  width: 710px;
  height: 100%;
}

.background-img {
  width: 710px;
  height: 100%;
}

.background-img img {
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
}

.right-con-psw-change {
  width: 381px;
  height: 400px;
  margin-top: 229px;
  margin-left: 174px;
}

.logo {
  position: absolute;
  left: 56px;
  top: 56px;
}

.back-btn-psw-change {
  width: 32px;
  height: 32px;
  background: #ebf1ff;
  border: none;
  border-radius: 1000px;
  padding-top: 8px;
  padding-left: 8px;
  margin-right: 16px;
  margin-top: 4px;
}

.back-btn-psw-change button {
  border: none;
  cursor: pointer;
}

.txt-psw-psw-change {
  display: flex;
  width: 260px;
  height: 40px;
  margin-bottom: 40px;
}

.txt-psw-psw-change h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #101923;
}

label {
  width: 93px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #4e4f51;
}

label span {
  color: red;
}

.login-psw-change {
  width: 292px;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
}

.login-psw-change :link {
  text-decoration: none;
}

.login-psw-change p span {
  color: #4a5fe5;
}

.password-psw-change {
  width: 381px;
  height: 76px;
  margin-top: 40px;
}

.input-psw-change {
  width: 381px;
  height: 48px;
  background: #fafbff;
  border: 1px solid #ebf1ff;
  outline: none;
  border-radius: 12px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 274;
  font-size: 16px;
  line-height: 24px;
}

.input-psw-change input {
  outline: none;
  border: none;
  width: 359px;
  height: 46px;
  background: #fafbff;
}

.show-psw-btn-psw-change {
  margin-left: -28px;
  border: none;
  width: 16px;
  height: 16px;
  margin-top: 14px;
  background-color: #fafbff;
}

.submit-psw-change {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  margin-top: 40px;
  margin-bottom: 16px;
  gap: 8px;
  width: 381px;
  height: 48px;
  background: #2e43c9;
  border-radius: 1000px;
}

.submit-psw-change button {
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2e43c9;
  border: none;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.main-container {
  display: flex;
  width: 1440px;
  height: 858px;
  background: #ffffff;
}

.logo {
  position: absolute;
  left: 56px;
  top: 56px;
}

.right {
  width: 381px;
  height: 308px;
  margin-top: 275px;
  margin-left: 175px;
}

.txt {
  display: flex;
  width: 260px;
  height: 40px;
}

.txt h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #101923;
}

.back-btn-psw-change {
  width: 32px;
  height: 32px;
  background: #ebf1ff;
  border: none;
  border-radius: 1000px;
  padding-top: 8px;
  padding-left: 8px;
  margin-right: 16px;
  margin-top: 4px;
}

.back-btn-psw-change button {
  border: none;
}

 .right p {
  width: 381px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #4e4f51;
  margin-top: 16px;
  margin-bottom: 40px;
} 

label {
  width: 93px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #4e4f51;
}

label span {
  color: red;
}

input {
  width: 381px;
  height: 48px;
  background: #fafbff;
  border: 1px solid #ebf1ff;
  outline: none;
  border-radius: 12px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 274;
  font-size: 16px;
  line-height: 24px;
}

::placeholder {
  color: #b8b9b9;
}

.input {
  display: flex;
}

.info-btn {
  margin-left: -28px;
  border: none;
  width: 16px;
  height: 16px;
  margin-top: 21px;
  background-color: #fafbff;
}

.continue-btn-psw-change {
  width: 381px;
  height: 48px;
  margin-top: 40px;
  background: #2e43c9;
  border-radius: 1000px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}

.password-psw-change {
  width: 381px;
  height: 76px;
  margin-top: 40px;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4f51;
}

::placeholder {
  color: #b8b9b9;
}

input {
  font-style: normal;
  font-weight: 274;
  font-size: 16px;
  line-height: 24px;
}

.input {
  display: flex;
}

.show-psw-btn-psw-change {
  margin-left: -28px;
  border: none;
  width: 16px;
  height: 16px;
  margin-top: 21px;
  background-color: #fafbff;
}
 */
